<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <img src="/aa.svg"  width="300" height="400" />
    <h1 class="display-3 home-head">Heart Out</h1>
    <p class="lead">Unburden your anonymously!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
