<%- include('partials/header') %>

<div class="container mt-5">
  <h1 class="heading-register">Hello dear friend !</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body register-card">

          <!-- Makes POST request to /login route -->
          <form action="/login" method="POST">
            <div class="form-group">
              <label for="email"  class="emal">Email</label>
              <input type="email" class="form-control" name="username">
            </div>
            <div class="form-group">
              <label for="password"  class="emal">Password</label>
              <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-dark rgsst">Login</button>
          </form>

        </div>
      </div>
    </div>

    <!-- <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <a class="btn btn-block" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign In with Google
          </a>
        </div>
      </div>
    </div> -->

  </div>
    <img src="/cc.svg" class="registere_img"/>
</div>

<%- include('partials/footer') %>
