<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <img src="/ee.svg" height="400px" widht="550px"/>
    <h1 class="display-3 heading-register">Wall of share</h1>

  <%  userSecrets.forEach(function(user){ %>
      <p class="secret-text"><%=user.secret%></p>
    <%})%>
    <hr>

    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
